{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {% set token = app.session.get('token') %}
            {% set user = app.session.get('user')['data'] %}

            {% if token['access_token'] is defined %}

              <p>Hello <span class="fullname">{{user.fullName}}!</span></b> </p>
              <p>You are logged in.  SEND and GET a message below.<p>

              <div>
                <div id="send-message" class="command">Send a Message</div>
                <div id="send-message-response" class="response"></div>
              </div>
              <div>
                <div id="get-message" class="command">Get Last Message</div>
                <div class="get-message-response" class="response"></div>
              </div>

            {% else %}
                Hello.  You must signin first.
                <div>Please <span class="button" id="login" style="color:blue">Login</span></div>
            {% endif %}  

        </div>

        <div id="output"></div>
        <div id="footer"></div>
    </div>

{% endblock %}

{% block stylesheets %}

<style>

    body { background: #white; font: 18px/1.5 sans-serif; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }
    }
</style>
{% endblock %}

{% block javascripts %}

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script>

   var client_id = "{{client_id}}";
   var redirect_uri = "{{redirect_uri}}";
   var response_type = "{{response_type}}";

   /**
   * triggers ARTIK Cloud login flow
   * will authenticate using oauth2 'implicit' method and access token
   * fragment will be available at indicated redirect_uri
   */

   function login() {

      //TODO:  
      console.log("login clicked");
      window.location = 'https://accounts.artik.cloud/authorize?client_id=' + client_id + '&response_type=' + response_type + '&redirect_uri=' + redirect_uri + 
      '&state={{state}}';
      
      //'https://accounts.artik.cloud/authorize?client_id={{client_id}}&response_type={{response_type}}&redirect_uri={{redirect_uri}}&state={{state}}'
   }

   function sendMessage() {

      $('#output').empty();

      console.log("sending message");

      $.ajax({
        type: "POST",
        url: "message/send",
        data: JSON.stringify({}),
        success: function(success){
            console.log(success);
            $('#output').append(success);
        },
        error: function(error) {

            console.log(error);
            var message = "";

            if(error.statusText) {
                message = "Request timed out ... try again or check your proxy settings.";
            }
            else if (error.status == 401) {
                message = "Error 401:  Your token is no longer valid — Please login again";
                setTimeout(function(){

                    window.location = "";

                }, 2000)
            }
            else {
                message = error;
            }

            $('#output').append(message);
        }
      });



   }

   function getMessage() {

      $('#output').empty();

    
      console.log("get message");

      $.ajax({
        type: "POST",
        url: "message/get",
        data: JSON.stringify({}),
        success: function(success){
            console.log(success);
            $('#output').append(success);
        },
        error: function(error) {

            var message = "";

            if(error.status == 401) {
                message = "Error 401:  Your token is no longer valid — Please login again";
                setTimeout(function(){

                    window.location = "";

                }, 2000)
            }
            else {
                message = error;
            }

            $('#output').append(message);
        }
      });
   }

   $(function() {
      $('#login').click(login)
      $('#send-message').click(sendMessage);
      $('#get-message').click(getMessage);
   });

</script>

{% endblock %}



