{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {% set token = app.session.get('token') %}
            {% set user = app.session.get('user')['data'] %}

            {% if token['access_token'] is defined %}

              <p>Hello <span class="fullname">{{user.fullName}}!</span></b> </p>
              <p><a href="https://accounts.artik.cloud/signin?client_id={{client_id}}&response_type=code&redirect_uri={{redirect_uri}}&state={{state}}">Signin</a> again or SEND and GET a message below.<p>

              <div>
                <div id="send-message" class="command">Send a Message</div>
                <div id="send-message-response" class="response"></div>
              </div>
              <div>
                <div id="get-message" class="command">Get Last Message</div>
                <div id="get-message-response" class="response"></div>
              </div>

            {% else %}
                Hello.  
                <div>You must <a href="https://accounts.artik.cloud/signin?client_id={{client_id}}&response_type=code&redirect_uri={{redirect_uri}}&state={{state}}">signin </a> first</div>
            {% endif %}  

        </div>
    </div>

{% endblock %}

{% block stylesheets %}

<style>

    body { background: #white; font: 18px/1.5 sans-serif; }

</style>
{% endblock %}

{% block javascripts %}

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script>

   var client_id = "{{client_id}}";
   var redirect_uri = "{{redirect_uri}}";
   

   function sendMessage() {

      $('#send-message-response').empty();
      $('#send-message-response').append('Sending Message ...');

    
      console.log("sending message");

      $.ajax({
        type: "POST",
        url: "message/send",
        data: JSON.stringify({}),
        success: function(success){
            console.log(success);
            $('#send-message-response').empty();
            $('#send-message-response').append(success);
        },
        error: function(error) {

            console.log(error);
            var message = "";

            if(error.responseText) {
                message = error.responseText;
            }
            else {
                message = error.responseText;
            }

            $('#send-message-response').empty();
            $('#send-message-response').append(message);
        }
      });

   }

   function getMessage() {

      $('#get-message-response').empty();
      $('#get-message-response').append('Getting Message ...');

    
      console.log("get message");

      $.ajax({
        type: "POST",
        url: "message/get",
        data: JSON.stringify({}),
        success: function(success){
            console.log(success)
            $('#get-message-response').empty();
            $('#get-message-response').append(success);
        },
        error: function(error) {

            var message = error.responseText;

            $('#get-message-response').empty();
            $('#get-message-response').append(message);
        }
      });
   }

   $(function() {

      $('#send-message').click(sendMessage);
      $('#get-message').click(getMessage);

   });

</script>
{% endblock %}



